@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .App {
  /* color: #551abb; */
/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
/* }  */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar li {
  display: inline-block;
  padding: 10px;
}
.nav-bar li a {
  text-decoration: none;
}

.nav-bar {
  padding: 7px;
  margin: 0;
  background-color: rgb(200, 255, 127);
}

.footer {
  position: absolute;
  bottom: 0;
  color: #4380f6;
  background-color: rgb(200, 255, 127);
  width: 100%;
  text-align: center;
}

.product-list {
  text-align: center;
  margin-top: 50px;
}

.product-list ul li {
  display: inline-block;
  width: 150px;
  color: #438cf6;
  border: 1px solid #4380f5;
  background-color: rgb(200, 255, 127);
  padding: 5px;
}

.product-list ul {
  margin: 0;
}
